/*-- scss:defaults --*/

$theme: "litera" !default;

// Font
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

// Colors
$base-colour: #2B2B2B;
$complementary-colour: #384060;
$background-colour: #C9C6A5;
$accent-colour: #DDA15E;
$highlight-colour: #8C3335;

// Nav Bar
$navbar-bg: $base-colour;
$navbar-fg: $background-colour;
$navbar-hl: $accent-colour;

// Body colors
$body-bg: $base-colour;
$body-color: $background-colour;
$link-color: $highlight-colour;
$callout-color-note: $complementary-colour;

.about-link-text { // button text size
  color: $background-colour;
}

.about-links .bi.bi { // button text size
  color: $background-colour;
}

.about-link:hover i.bi.bi, 
.about-link:hover .about-link-text {
  color: $accent-colour;
}

.quarto-title-block .quarto-title-banner {
  background: $complementary-colour;
}

a.quarto-grid-link {
  color: $background-colour;
}

a.quarto-grid-link:hover {
  color: $accent-colour;
}

.quarto-grid-item.card-left.card {
  background-color: $complementary-colour;
}

.quarto-grid-item .listing-categories .listing-category {
    color: $background-colour !important;
    border: solid 1px $accent-colour !important;
}

.quarto-grid-item .card-attribution{
  color: $background-colour !important;
}

.quarto-grid-item .listing-author,
.quarto-grid-item .listing-date {
  color: $base-colour;
}

.panel-caption, .figure-caption, figcaption {
    color: $accent-colour !important;
}

body:not(.floating) .nav-footer {
    border-top: none !important;
}

.blockquote {
    color: $background-colour !important;
    border-color: $complementary-colour;
    text-align: center;
}