/*-- scss:defaults --*/

// Font
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

// Colors
$navy-green: #283618;
$sage-green: #606C38;
$soft-yellow: #FEFAE0;
$light-tan: #DDA15E;
$tan: #BC6C25;

// Nav Bar
$navbar-bg: $navy-green;
$navbar-fg: $soft-yellow;
$navbar-hl: $light-tan;

// Body colors
$body-bg: $soft-yellow;
$body-color: $navy-green;
$link-color: $tan;


.about-link-text { // button text size
  color: $navy-green;
}

.about-links .bi.bi { // button text size
  color: $navy-green;
}

.about-link:hover i.bi.bi, 
.about-link:hover .about-link-text {
  color: $tan;
}